[Unit]
Description=twitter-rails
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ rails.directory }}
ExecStart=/usr/local/bin/bundle exec rails server -p {{ rails.port }}
Environment="RAILS_ENV={{ rails.env }}"
Environment="SECRET_KEY_BASE=some_secret_key"
Environment="DB_USERNAME={{ postgresql.username }}"
Environment="DB_PASSWORD={{ postgresql.password }}"
Environment="DB_NAME={{ rails.env }}"
Environment="DB_HOST={{ postgresql.host }}"
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
